* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

body { 
    background: purple;
/*    padding-bottom: 70px; */
}

ul {
    padding: 0;
    margin: 0;
}

.shift-effect {
    margin: 7px;
}

.tiles-container {
    margin: 15px 0;
    position: relative;
    margin-top: 100px;
    padding-bottom: 70px;
}

.grid {
    position: absolute;
    border: 1px solid lightgray;
    z-index: 9;
    display: none;
}

.tile {
    list-style: none;
    float: left;
    display: block;
/*    border: 1px solid #000;*/
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 10;
/*
    float: left;
    position: relative;
*/
}

.tile .tileInnerContainer {
/*    border: 1px solid #00F;*/
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.xs .tile {
    padding: 1px;
}

.sm .tile {
    padding: 3px;
}

.md .tile {
    padding: 4px;
}

.tile .name {
    display: block;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,.3);
    color: #FFF;
    font-size: 13px;
    padding: 0 5px;
    white-space: nowrap;
}

.tile .fontIcon {
    font-size: 150px;
    margin-top: 60px;
    color: #FFF;
}

.tile.medium .fontIcon,
.tile.rectangle .fontIcon{
    font-size: 50px;
    margin-top: 40px;
}

.tile.small .fontIcon {
    font-size: 30px;
    margin-top: 10px;
}

.tile.medium .fontIcon {
    font-size: 50px;
    margin-top: 40px;
}

.s2mC,
.m2bC {
    float: left;
}

@media (min-width: 768px) {
    .taskbar .container-fluid {
        padding: 0;
    }
    
    .taskbar .navbar-inverse .navbar-nav>li>a.startBtn {
        color: #FFFFFF;
        background: #000;
        font-size: 16px;
    }
}

